<div id="hero-banner" style="background-image: url('/assets/front/placeholder-1.jpg');">
	<div class="overlay"></div>
	<div class="banner-content">
		<div class="content-wrap">
			<div class="row content-padding">
				<div class="columns text-center">
					<div class="row content-padding">
						<div class="columns">
              <h1><%= @page_title %></h1>
							<p>Merthyr Tydfil town center has much to offer the eager shopper, with two excellent shopping centres and a broad range of independent shops and businesses.</p>
						</div>
					</div>
					<div class="row content-padding align-center">
						<div class="small-12 medium-12 column">
							<p class="sub-heading">Find a product or service</p>
							<div class="input-group">
								<input class="input-group-field" type="text" placeholder="Search">
								<div class="input-group-button">
									<input type="submit" class="button" value="Go">
								</div>
							</div>
							<p>or browse our shops below</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

