<div class="content">
	<h4 class="section-subtitle"><b>Edit</b> Downloads</h4>
	<div class="content-header">
    <!-- leftside content header -->
    <div class="leftside-content-header">
      <ul class="breadcrumbs">
        <li><i class="fa fa-columns" aria-hidden="true"></i><a href="#">Downloads</a></li>
        <li><a>Edit</a></li>
      </ul>
    </div>
  </div>
	<h1>Editing download</h1>

	<%= render 'form' %>

	<%= link_to 'Show', @download %> |
	<%= link_to 'Back', downloads_path %>
</div>
