<h2 class="red">What are you looking for?</h2>
<p>If there's something specific that you're looking for one of our shops has probably got it.</p>
<p>Search below:</p>
<div class="input-group ">
  <input type="text" class="form-control" placeholder="eg. Shoes">
  <span class="input-group-btn">
    <button class="btn btn-default" type="button"><span class="icon-search"></span></button>
  </span>
</div>
