<%- downloads = Download.desc(:created_at).desc(:id) -%>

<div class="panel equalHeights">
  <div class="palette palette-success">Downloads</div>
  <div class="download-toggle-wrap row">
    <div class="col-lg-12">
      <a href="#" class="download-toggle-btn" id="events">Events &amp; Marketing</a>
    </div>
    <div class="col-lg-12">
      <a href="#" class="download-toggle-btn" id="reports">Reports</a>
    </div>
    <div class="col-lg-12">
      <a href="#" class="download-toggle-btn" id="newsletters">Newsletters</a>
    </div>
    <div class="col-lg-12">
      <a href="#" class="download-toggle-btn" id="general">General</a>
    </div>
  </div>


  <div id="downloadlist">
    <div class="scrollbar"><div class="track"><div class="thumb"><div class="end"></div></div></div></div>
    <div class="viewport">
        <div class="overview">
          <div class="list-group download_links">
            <%- if downloads.any? -%>
              <%- downloads.each do |d| -%>
              <a href="<%= d.file.url -%>" class="list-group-item <%= !d.category.blank? ? d.category.downcase.tr(" ", '_') : nil -%>">
                  <div class="col-md-10">
                    <span class="title"><%= d.title -%></span>
                  </div>
              </a>
              <%- end -%>
            <%- else -%>
              <%= link_to '#', class: 'list-group-item' do -%>
                <div class="col-md-10">
                  <span class="title"> No files. </span>
                </div>
              <%- end -%>
            <%- end -%>
          </div>
        </div>
    </div>
  </div>
</div>
