<%- downloads = Download.desc(:created_at).desc(:id) -%>

<div class="panel equalHeights">
  <div class="palette palette-success" >Downloads</div>
  <div class="list-group download_links">
    <%- if downloads.any? -%>
      <%- downloads.each do |d| -%>
        <%= link_to d.file.url, class: 'list-group-item' do -%>
          <div class="col-md-10">
            <span class="title"><%= d.title -%></span>
          </div>
        <%- end -%>
      <%- end -%>
    <%- else -%>
      <%= link_to '#', class: 'list-group-item' do -%>
        <div class="col-md-10">
          <span class="title"> No files. </span>
        </div>
      <%- end -%>
    <%- end -%>
  </div>
</div>
