<%- downloads = Download.desc(:created_at).desc(:id) -%>

<div class="panel equalHeights">
  <div class="palette palette-success">Downloads</div>

  <div id="downloadlist">
    <div class="scrollbar"><div class="track"><div class="thumb"><div class="end"></div></div></div></div>
    <div class="viewport">
        <div class="overview">
          <div class="list-group download_links">
            <%- if downloads.any? -%>
              <%- downloads.each do |d| -%>
              <a href="<%= d.file.url -%>" class="list-group-item <%= d.category -%>">
                  <div class="col-md-10">
                    <span class="title"><%= d.title -%></span>
                  </div>
              </a>
              <%- end -%>
            <%- else -%>
              <%= link_to '#', class: 'list-group-item' do -%>
                <div class="col-md-10">
                  <span class="title"> No files. </span>
                </div>
              <%- end -%>
            <%- end -%>
          </div>
        </div>
    </div>
  </div>
</div>
