<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="favicon.png">

    <title>We Merthyr</title>
	
    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/flat-ui.css" rel="stylesheet">
    <link href="css/font-awesome.min.css" rel="stylesheet">
		<link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="css/iview.css" />
		<link rel="stylesheet" href="css/skin4_slider.css" />
		<!-- Custom styles for this template -->
    <link href="css/css.css" rel="stylesheet">
		<script type="text/javascript">var switchTo5x=true;</script>
<script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
<script type="text/javascript">stLight.options({publisher: "0de77d33-4a95-4f90-ab96-9cd0a2f9fd7f", doNotHash: true, doNotCopy: false, hashAddressBar: false});</script>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
      <script src="js/respond.min.js"></script>
    <![endif]-->
  </head>

  <!--[if IE 7]>         <body class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <body class="no-js lt-ie9"> <![endif]-->
<!--[if IE 9]>         <body class="no-js ie9"> <![endif]-->
<!--[if gt IE 9]><!--> <body> <!--<![endif]-->
		<div class="container header">
				<img src="img/logo.png" alt="" class="logo"/>
				<img src="img/logo2.png" alt="" class="logo2"/>
		</div>
		<div class="container nav">
			<div class="navbar navbar-inverse navbar-default">
				<div class="navbar-inner">
						<button type="button" class="btn btn-navbar navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<div class="collapse navbar-collapse">
							<ul class="social_icon_top">
								<li><a href="#" class="btn-dark_blue "><span class="glyphicon icon-facebook"></span></a></li>
								<li><a href="#" class="btn-twitter"><span class="glyphicon icon-twitter"></span></a></li>
								<li><a href="#" class="btn-danger"><span class="glyphicon icon-youtube"></span></a></li>
								<li><a href="#" class="btn-red"><span class="glyphicon icon-pinterest"></span></a></li>
								<li><a href="#" class="btn-orang"><span class="glyphicon icon-google-plus"></span></a></li>
							</ul>
							<ul class="nav navbar-nav">
								<li>
									<a href="index.html">
										Home
									</a>
								</li>
								<li>
									<a href="shopping.html">
										Shopping
									</a>
								</li>
								<li>
									<a href="business.html">
										Eating & Drinking
									</a>
								</li>
								<li>
									<a href="#">
										Visiting
									</a>
								</li>
								<li>
									<a href="vouchers.html">
										Vouchers
									</a>
								</li>
								<li class="active">
									<a href="events.html">
										Events
									</a>
								</li>
								<li>
									<a href="blog.html">
										Blog
									</a>
								</li>
							</ul>
						</div><!--/.nav-collapse -->
				</div>
			</div>
		</div>
    <div class="container theme-showcase">
				<div class="dow">
					<div class="col-lg-8 content">
							<div class="bread_crumbs">
								<a href="index.html">Home</a> > <a href="blog.html">Events</a> > Merthyr Amazes
							</div>
							<h1 class="red title_post">Merthyr Amazes</h1>
							<div class="post_entry_meta">
									<div class="date">
										<span></span><a href="#">December 11th 2013, 9 am to 5 pm</a>
									</div>
								</div>
					</div>
					<div class="col-lg-4">
					</div>
				</div>
				<div class="col-lg-8 content">					
					<div class="blog">				
								<div class="post_thumbnail">
									<div class="thumbnail">
										<img src="img/post_thumbnail.png" alt="" />
									</div>
								</div>
								<div class="row">
									<div class="event_desc col-lg-6">
										<p><i><b>Location: <span class="blue">Merthyr Town Center</span></b></i></p>
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse ultricies tincidunt nisi. Nulla tortor erat, accumsan vel cursus tempus, consectetur nec metus. Morbi ut dignissim massa, sit amet aliquet urna. In lorem sem, luctus eget massa at, elementum molestie tellus. Nullam sit amet ante nibh. Nullam adipiscing urna ut orci suscipit, in auctor tortor facilisis. Cras iaculis est elit.</p>
										<p>In lorem sem, luctus eget massa at, elementum molestie tellus. Nullam sit amet ante nibh. Nullam adipiscing urna ut orci suscipit, in auctor tortor facilisis. </p>
									</div	>
									<div class="event_map col-lg-6">
										<div class="thumbnail">
											<iframe height="250" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=USA&amp;aq=&amp;sll=37.0625,-95.677068&amp;sspn=61.323728,135.263672&amp;ie=UTF8&amp;hq=&amp;hnear=%D0%A1%D0%BE%D0%B5%D0%B4%D0%B8%D0%BD%D0%B5%D0%BD%D0%BD%D1%8B%D0%B5+%D0%A8%D1%82%D0%B0%D1%82%D1%8B+%D0%90%D0%BC%D0%B5%D1%80%D0%B8%D0%BA%D0%B8&amp;t=m&amp;ll=37.09024,-95.712891&amp;spn=2.103225,3.988037&amp;z=7&amp;output=embed"></iframe>
										</div>
									</div>
								</div>
								<div class="social_shared">
									<span class='st_twitter_vcount' displayText='Tweet'></span>
									<span class='st_facebook_vcount' displayText='Facebook'></span>
									<span class='st_googleplus_vcount' displayText='Google +'></span>
									<span class='st_email_vcount' displayText='Email'></span>
								</div>
					</div>
				</div>
				<div class="col-lg-4 sidebar">		
					<div class="widget">
						<h2 class="red">Recent Posts</h2>
						<div class="widget_recent_posts">
							<div class="recent_post">
								<a href="#" class="title">
									10 tips for Xmas Shopping in Merthyr Tydfil
								</a>
								<div class="recent_posts_entry_meta">
									<a href="#">> November 11th 2013</a> | <a href="#">News</a>, <a href="#">Shopping</a>
								</div>
							</div>
							<div class="recent_post">
								<a href="#" class="title">
									Shopping in Merthyr Town Centre
								</a>
								<div class="recent_posts_entry_meta">
									<a href="#">> November 11th 2013</a> | <a href="#">News</a>, <a href="#">Shopping</a>
								</div>
							</div>
							<div class="recent_post">
								<a href="#" class="title">
									Shopping in Merthyr Town Centre
								</a>
								<div class="recent_posts_entry_meta">
									<a href="#">> November 11th 2013</a> | <a href="#">News</a>, <a href="#">Shopping</a>
								</div>
							</div>
							<div class="recent_post">
								<a href="#" class="title">
									10 tips for Xmas Shopping in Merthyr Tydfil
								</a>
								<div class="recent_posts_entry_meta">
									<a href="#">> November 11th 2013</a> | <a href="#">News</a>, <a href="#">Shopping</a>
								</div>
							</div>
						</div>
					</div>					
					<div class="widget">
						<h4 class="red margin_bottom_20">Follow us and find out what's going on in Merthyr Tydfil Town Centre</h4>
						<a class="btn btn-s btn-red " href=""> <span class="glyphicon icon-pinterest"></span>Pin It<span class="badge no_bg">100</span></a>
						<div class="clearfix"></div>
						<a class="btn btn-s btn-blue " href=""><span class="glyphicon icon-linkedin"></span>Share<span class="badge no_bg">91</span></a>
						<div class="clearfix"></div>
						<a class="btn btn-s btn-danger " href=""><span class="glyphicon icon-stumble"></span>Stumble<span class="badge no_bg">45</span></a>
						<div class="clearfix"></div>
						<a class="btn btn-s btn-black " href=""><span class="glyphicon icon-google-plus"></span>Connect with Google</a>
						<div class="clearfix"></div>
						<a class="btn btn-s btn-dark_blue " href=""><span class="glyphicon icon-facebook-sign"></span>Connect with Facebook</a>
						<div class="clearfix"></div>
						<a class="btn btn-s btn-twitter " href=""><span class="glyphicon icon-twitter"></span>Connect with Twitter</a>
						<div class="clearfix"></div>
					</div>
					
				</div>
    </div> <!-- /container -->
		<div class="container footer">
			<div class="col-lg-9 col">
					Website Funded by :
					<div class="clearfix"></div>
					<img src="img/logo3.png" alt="" />
				</div>
			<div class="col-lg-3 col">
					<h4>Contact us at The Regenaration Shop</h4>
					<p>Wheatsheaf Lane, Merthyr Tydfil CF47 </p>
					<p>Tel: 01685 377777 <br />
						Email: info@welovemerthyr.co.uk</p>
 

				</div>				
			
		</div>
		<div class=" container copyright">				
					Copyright The Big Heart of Merthyr Tydfil. 2013
			</div> 


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="js/jquery-1.8.2.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/holder.js"></script>
		
		<script src="js/jquery-ui-1.10.0.custom.min.js"></script>
    <script src="js/jquery.dropkick-1.0.0.js"></script>
    <script src="js/custom_checkbox_and_radio.js"></script>
    <script src="js/custom_radio.js"></script>
    <script src="js/jquery.tagsinput.js"></script>
    <!-- <script src="js/bootstrap-tooltip.js"></script> -->
    <script src="js/jquery.placeholder.js"></script>
    <!-- <script src="http://vjs.zencdn.net/c/video.js"></script> -->
		
		<script type="text/javascript" src="js/raphael-min.js"></script>
		<script type="text/javascript" src="js/jquery.easing.js"></script>		
		<script src="js/iview.js"></script>
		
    <script src="js/application.js"></script>
		<script>
			$(document).ready(function(){
				$('#iview').iView({
					pauseTime: 6000,
					pauseOnHover: true,
					directionNavHoverOpacity: 1,
					timer: "Bar",
					timerDiameter: "50%",
					timerPadding: 0,
					timerStroke: 7,
					timerBarStroke: 0,
					timerColor: "#FFF",
					timerPosition: "bottom-right"
				});
			});
		</script>
		<!--[if lt IE 8]>
      <script src="js/icon-font-ie7.js"></script>
      <script src="js/icon-font-ie7-24.js"></script>
    <![endif]-->
  </body>
</html>
