<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="favicon.png">

    <title>We Merthyr</title>
	
    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/flat-ui.css" rel="stylesheet">
    <link href="css/font-awesome.min.css" rel="stylesheet">
		<link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="css/iview.css" />
		<link rel="stylesheet" href="css/skin4_slider.css" />
		<!-- Custom styles for this template -->
    <link href="css/css.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
      <script src="js/respond.min.js"></script>
    <![endif]-->
  </head>

  <!--[if IE 7]>         <body class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <body class="no-js lt-ie9"> <![endif]-->
<!--[if IE 9]>         <body class="no-js ie9"> <![endif]-->
<!--[if gt IE 9]><!--> <body> <!--<![endif]-->
		<div class="container header">
				<img src="img/logo.png" alt="" class="logo"/>
				<img src="img/logo2.png" alt="" class="logo2"/>
		</div>
		<div class="container nav">
			<div class="navbar navbar-inverse navbar-default">
				<div class="navbar-inner">
						<button type="button" class="btn btn-navbar navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<div class="collapse navbar-collapse">
							<ul class="social_icon_top">
								<li><a href="#" class="btn-dark_blue "><span class="glyphicon icon-facebook"></span></a></li>
								<li><a href="#" class="btn-twitter"><span class="glyphicon icon-twitter"></span></a></li>
								<li><a href="#" class="btn-danger"><span class="glyphicon icon-youtube"></span></a></li>
								<li><a href="#" class="btn-red"><span class="glyphicon icon-pinterest"></span></a></li>
								<li><a href="#" class="btn-orang"><span class="glyphicon icon-google-plus"></span></a></li>
							</ul>
							<ul class="nav navbar-nav">
								<li>
									<a href="index.html">
										Home
									</a>
								</li>
								<li>
									<a href="shopping.html">
										Shopping
									</a>
								</li>
								<li>
									<a href="business.html">
										Eating & Drinking
									</a>
								</li>
								<li>
									<a href="#">
										Visiting
									</a>
								</li>
								<li>
									<a href="vouchers.html">
										Vouchers
									</a>
								</li>
								<li class="active">
									<a href="events.html">
										Events
									</a>
								</li>
								<li>
									<a href="blog.html">
										Blog
									</a>
								</li>
							</ul>
						</div><!--/.nav-collapse -->
				</div>
			</div>
		</div>
    <div class="container theme-showcase">
				<div class="dow">
					<div class="col-lg-8 content">
							<div class="bread_crumbs">
								<a href="index.html">Home</a> > Events
							</div>
							<h1 class="red">What's going on in Merthyr Tydfil Town Centre </h1>
					</div>
					<div class="col-lg-4">
					</div>
				</div>
				<div class="col-lg-8 content">					
					<div class="events">
						<ul class="events_list">
							<li>	
								<div>
									<div class="col-lg-10">
										<h4><a href="#" >Merthyr Amazes</a></h4>
										<div class="event_info">
											<div class="event_date">
												May 11th, 9 am until 5 pm
											</div>
											<div class="event_location">
												Location: Town Centre
											</div>
										</div>
										<p class="event_desc">A great day out for all the family. Amazing street acts including jugglers, face painters and live music.</p>
										<div class="share_via">
											<p>Share via:</p>
											<ul class="social_icon_top">
												<li><a class="btn-dark_blue " href="#"><span class="glyphicon icon-facebook"></span></a></li>
												<li><a class="btn-twitter" href="#"><span class="glyphicon icon-twitter"></span></a></li>
												<li><a class="btn-danger" href="#"><span class="glyphicon icon-youtube"></span></a></li>
												<li><a class="btn-red" href="#"><span class="glyphicon icon-pinterest"></span></a></li>
												<li><a class="btn-orang" href="#"><span class="glyphicon icon-google-plus"></span></a></li>
											</ul>
										</div>
										<div class="clearfix"></div>
									</div>
									<div class="col-lg-2 events_thumbnail">
										<a href="#" class="thumbnail">
											<img src="img/events_thumbnail.png" alt="" />
										</a>
									</div>
								</div>
							</li>
							<li>
								<div>
									<div class="col-lg-10">
										<h4><a href="#" >Continental Market</a></h4>
										<div class="event_info">
											<div class="event_date">
												June 11th, 9 am until 5 pm 
											</div>
											<div class="event_location">
												Location: Town Centre
											</div>
										</div>
										<p class="event_desc">Amazing foods of the world. Pick up some unique groceries and even get the chance to try some.</p>
										<div class="share_via">
											<p>Share via:</p>
											<ul class="social_icon_top">
												<li><a class="btn-dark_blue " href="#"><span class="glyphicon icon-facebook"></span></a></li>
												<li><a class="btn-twitter" href="#"><span class="glyphicon icon-twitter"></span></a></li>
												<li><a class="btn-danger" href="#"><span class="glyphicon icon-youtube"></span></a></li>
												<li><a class="btn-red" href="#"><span class="glyphicon icon-pinterest"></span></a></li>
												<li><a class="btn-orang" href="#"><span class="glyphicon icon-google-plus"></span></a></li>
											</ul>
										</div>
										<div class="clearfix"></div>
									</div>
									<div class="col-lg-2 events_thumbnail">
										<a href="#" class="thumbnail">
											<img src="img/events_thumbnail2.png" alt=""/>
										</a>
									</div>
								</div>
							</li>
							<li>
								<div>
									<div class="col-lg-10">
										<h4><a href="#" >Merthyr Arts Festival</a></h4>
										<div class="event_info">
											<div class="event_date">
												July 11th, 9 am until July 13th, 5 pm 
											</div>
											<div class="event_location">
												Location: Town Centre
											</div>
										</div>
										<p class="event_desc">Amazing foods of the world. Pick up some unique groceries and even get the chance to try some.</p>
										<div class="share_via">
											<p>Share via:</p>
											<ul class="social_icon_top">
												<li><a class="btn-dark_blue " href="#"><span class="glyphicon icon-facebook"></span></a></li>
												<li><a class="btn-twitter" href="#"><span class="glyphicon icon-twitter"></span></a></li>
												<li><a class="btn-danger" href="#"><span class="glyphicon icon-youtube"></span></a></li>
												<li><a class="btn-red" href="#"><span class="glyphicon icon-pinterest"></span></a></li>
												<li><a class="btn-orang" href="#"><span class="glyphicon icon-google-plus"></span></a></li>
											</ul>
										</div>
										<div class="clearfix"></div>
									</div>
									<div class="col-lg-2 events_thumbnail">
										<a href="#" class="thumbnail">
											<img src="img/events_thumbnail.png" alt=""/>
										</a>
									</div>
								</div>
							</li>
							<li>	
								<div>
									<div class="col-lg-10">
										<h4><a href="#" >Merthyr Amazes</a></h4>
										<div class="event_info">
											<div class="event_date">
												May 11th, 9 am until 5 pm
											</div>
											<div class="event_location">
												Location: Town Centre
											</div>
										</div>
										<p class="event_desc">A great day out for all the family. Amazing street acts including jugglers, face painters and live music.</p>
										<div class="share_via">
											<p>Share via:</p>
											<ul class="social_icon_top">
												<li><a class="btn-dark_blue " href="#"><span class="glyphicon icon-facebook"></span></a></li>
												<li><a class="btn-twitter" href="#"><span class="glyphicon icon-twitter"></span></a></li>
												<li><a class="btn-danger" href="#"><span class="glyphicon icon-youtube"></span></a></li>
												<li><a class="btn-red" href="#"><span class="glyphicon icon-pinterest"></span></a></li>
												<li><a class="btn-orang" href="#"><span class="glyphicon icon-google-plus"></span></a></li>
											</ul>
										</div>
										<div class="clearfix"></div>
									</div>
									<div class="col-lg-2 events_thumbnail">
										<a href="#" class="thumbnail">
											<img src="img/events_thumbnail.png" alt="" />
										</a>
									</div>
								</div>
							</li>
							<li>
								<div>
									<div class="col-lg-10">
										<h4><a href="#" >Continental Market</a></h4>
										<div class="event_info">
											<div class="event_date">
												June 11th, 9 am until 5 pm 
											</div>
											<div class="event_location">
												Location: Town Centre
											</div>
										</div>
										<p class="event_desc">Amazing foods of the world. Pick up some unique groceries and even get the chance to try some.</p>
										<div class="share_via">
											<p>Share via:</p>
											<ul class="social_icon_top">
												<li><a class="btn-dark_blue " href="#"><span class="glyphicon icon-facebook"></span></a></li>
												<li><a class="btn-twitter" href="#"><span class="glyphicon icon-twitter"></span></a></li>
												<li><a class="btn-danger" href="#"><span class="glyphicon icon-youtube"></span></a></li>
												<li><a class="btn-red" href="#"><span class="glyphicon icon-pinterest"></span></a></li>
												<li><a class="btn-orang" href="#"><span class="glyphicon icon-google-plus"></span></a></li>
											</ul>
										</div>
										<div class="clearfix"></div>
									</div>
									<div class="col-lg-2 events_thumbnail">
										<a href="#" class="thumbnail">
											<img src="img/events_thumbnail2.png" alt=""/>
										</a>
									</div>
								</div>
							</li>
							<li>
								<div>
									<div class="col-lg-10">
										<h4><a href="#" >Merthyr Arts Festival</a></h4>
										<div class="event_info">
											<div class="event_date">
												July 11th, 9 am until July 13th, 5 pm 
											</div>
											<div class="event_location">
												Location: Town Centre
											</div>
										</div>
										<p class="event_desc">Amazing foods of the world. Pick up some unique groceries and even get the chance to try some.</p>
										<div class="share_via">
											<p>Share via:</p>
											<ul class="social_icon_top">
												<li><a class="btn-dark_blue " href="#"><span class="glyphicon icon-facebook"></span></a></li>
												<li><a class="btn-twitter" href="#"><span class="glyphicon icon-twitter"></span></a></li>
												<li><a class="btn-danger" href="#"><span class="glyphicon icon-youtube"></span></a></li>
												<li><a class="btn-red" href="#"><span class="glyphicon icon-pinterest"></span></a></li>
												<li><a class="btn-orang" href="#"><span class="glyphicon icon-google-plus"></span></a></li>
											</ul>
										</div>
										<div class="clearfix"></div>
									</div>
									<div class="col-lg-2 events_thumbnail">
										<a href="#" class="thumbnail">
											<img src="img/events_thumbnail.png" alt=""/>
										</a>
									</div>
								</div>
							</li>
						</ul>
						<ul class="pagination">
								<li class="disabled prev_btn"><a href="#">< Previous</a></li>
								<li class="active"><a href="#">1</a></li>
								<li><a href="#">2</a></li>
								<li><a href="#">3</a></li>
								<li><a href="#">4</a></li>
								<li><a href="#">5</a></li>
								<li class="prev_btn"><a href="#">Next ></a></li>
						 </ul>
					</div>
				</div>
				<div class="col-lg-4 sidebar">		
					<div class="widget widget_search">
						<h2 class="red">What are you looking for?</h2>
						<p>If there's something specific that you're looking for one of our shops has probably got it.</p>
						<p>Search below:</p>
						<div class="input-group ">
							<input type="text" class="form-control" placeholder="eg. Shoes">
							<span class="input-group-btn">
								<button class="btn btn-default" type="button"><span class="icon-search"></span></button>
							</span>
						</div>
					</div>	
					<div class="widget">
						<h2>Some things you can find:</h2>
						<div class="white_block widget_tag">
							<a class="btn btn-xs btn-primary " href="">Chips</a>
							<a class="btn btn-xs btn-primary " href="">Fish</a>
							<a class="btn btn-xs btn-primary " href="">Vehicle Hire</a>
							<a class="btn btn-xs btn-primary " href="">Chips</a>
							<a class="btn btn-xs btn-primary " href="">Fish</a>
							<a class="btn btn-xs btn-primary " href="">Vehicle Hire</a>
							<a class="btn btn-xs btn-primary " href="">Chips</a>
							<a class="btn btn-xs btn-primary " href="">Fish</a>
						</div>
					</div>					
					<div class="widget">
						<h4 class="red margin_bottom_20">Follow us and find out what's going on in Merthyr Tydfil Town Centre</h4>
						<a class="btn btn-s btn-red " href=""> <span class="glyphicon icon-pinterest"></span>Pin It<span class="badge no_bg">100</span></a>
						<div class="clearfix"></div>
						<a class="btn btn-s btn-blue " href=""><span class="glyphicon icon-linkedin"></span>Share<span class="badge no_bg">91</span></a>
						<div class="clearfix"></div>
						<a class="btn btn-s btn-danger " href=""><span class="glyphicon icon-stumble"></span>Stumble<span class="badge no_bg">45</span></a>
						<div class="clearfix"></div>
						<a class="btn btn-s btn-black " href=""><span class="glyphicon icon-google-plus"></span>Connect with Google</a>
						<div class="clearfix"></div>
						<a class="btn btn-s btn-dark_blue " href=""><span class="glyphicon icon-facebook-sign"></span>Connect with Facebook</a>
						<div class="clearfix"></div>
						<a class="btn btn-s btn-twitter " href=""><span class="glyphicon icon-twitter"></span>Connect with Twitter</a>
						<div class="clearfix"></div>
					</div>
					
				</div>
    </div> <!-- /container -->
		<div class="container footer">
			<div class="col-lg-9 col">
					Website Funded by :
					<div class="clearfix"></div>
					<img src="img/logo3.png" alt="" />
				</div>
			<div class="col-lg-3 col">
					<h4>Contact us at The Regenaration Shop</h4>
					<p>Wheatsheaf Lane, Merthyr Tydfil CF47 </p>
					<p>Tel: 01685 377777 <br />
						Email: info@welovemerthyr.co.uk</p>
 

				</div>				
			
		</div>
		<div class=" container copyright">				
					Copyright The Big Heart of Merthyr Tydfil. 2013
			</div> 


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="js/jquery-1.8.2.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/holder.js"></script>
		
		<script src="js/jquery-ui-1.10.0.custom.min.js"></script>
    <script src="js/jquery.dropkick-1.0.0.js"></script>
    <script src="js/custom_checkbox_and_radio.js"></script>
    <script src="js/custom_radio.js"></script>
    <script src="js/jquery.tagsinput.js"></script>
    <!-- <script src="js/bootstrap-tooltip.js"></script> -->
    <script src="js/jquery.placeholder.js"></script>
    <!-- <script src="http://vjs.zencdn.net/c/video.js"></script> -->
		
		<script type="text/javascript" src="js/raphael-min.js"></script>
		<script type="text/javascript" src="js/jquery.easing.js"></script>		
		<script src="js/iview.js"></script>
		
    <script src="js/application.js"></script>
		<script>
			$(document).ready(function(){
				$('#iview').iView({
					pauseTime: 6000,
					pauseOnHover: true,
					directionNavHoverOpacity: 1,
					timer: "Bar",
					timerDiameter: "50%",
					timerPadding: 0,
					timerStroke: 7,
					timerBarStroke: 0,
					timerColor: "#FFF",
					timerPosition: "bottom-right"
				});
			});
		</script>
		<!--[if lt IE 8]>
      <script src="js/icon-font-ie7.js"></script>
      <script src="js/icon-font-ie7-24.js"></script>
    <![endif]-->
  </body>
</html>
