<div class="post-excerpt-horizontal">
  <div class="post-image">
    <div class="overlay secondary">
      <div class="link-icon"><i class="fa fa-link"></i></div>
    </div>
    <%= image_tag deal_item.image_url(:thumb) -%>
  </div>
  <div class="post-content">
    <h3 class="title"><%= deal_item.title %></h3>
    <a href="<%= public_new_subscriber_path %>" class="button secondary"><i class="fa fa-tag"></i><span>Get Deal</span></a>
  </div>
</div>
