<div id="hero-banner" class="hero-banner-events">
	<div class="overlay"></div>
	<div class="banner-content">
		<div class="content-wrap">
			<div class="row content-padding">
				<div class="columns text-center">
					<div class="row content-padding">
						<div class="columns">
							<h1>Events</h1>
							<p>What's going on in Merthyr Town Centre</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<%= debug @events %>

<section class="content-padding">
	<div class="row content-padding">
		<div class="column">
			<div class="card-grid">
				<div class="card-sizer"></div>
          <%= render partial: 'pages/event', collection: @events  %>
			</div>
		</div>
	</div>
</section>
