<div class="row">
  <div class="col-lg-8">
    <div id="iview">
      <div data-iview:thumbnail="assets/photos/01.png" data-iview:image="assets/photos/01.png">
        <div class="iview-caption caption1" data-x="0" data-y="36" data-transition="expandRight">Shoppping in Merthyr Town Centre </div>
      </div>

      <div data-iview:thumbnail="assets/photos/02.png" data-iview:image="assets/photos/02.png" data-iview:transition="block-drop-random" >
        <div class="iview-caption caption2" data-x="0" data-y="100" data-transition="expandRight">SUPPORTS ANIMATED CAPTIONS, VIDEO & IFRAME, SINGLE PAGE MULTI-USE</div>
      </div>
    </div>
  </div>
  <div class="col-lg-4">
    <div class="palette palette-success">
      <div class="home_banner">
        <h1>There's something for everyone in Merthyr Tydfil Town Centre</h1>
        <a href="#"><img src="/assets/img/take_look_here.png" alt="" /></a>
        <div class="clearfix"></div>
      </div>
    </div>
    
  </div>
</div>
<div class="row home_latest_post_block">
  <div class="col-lg-3">
    <div class="panel equalHeights">
         <div class="palette palette-info" >Quick Links</div>
         <div class="list-group quick_links">
           <a href="#" class="list-group-item btn-primary car1">How to get here</a>
           <a href="#" class="list-group-item btn-primary car2">Parking Information</a>
           <a href="#" class="list-group-item btn-primary marker">Download our guide</a>
         </div>
      </div>
  </div>
  <div class="col-lg-3">
    <div class="panel equalHeights">
         <div class=" palette palette-alizarin" >Upcoming Events</div>
         <div class="list-group upcoming_events">
           <a href="#" class="list-group-item">
            <span class="glyphicon glyphicon-calendar"></span>
            <div class="col-md-10">
              <span class="title">Merthyr Amazes</span>
              <span class="desc">Sat 17th July 2013, 3pm</span>
            </div>
           </a>
           <a href="#" class="list-group-item">
            <span class="glyphicon glyphicon-calendar"></span>
            <div class="col-md-10">
              <span class="title">Merthyr Amazes</span>
              <span class="desc">Sat 17th July 2013, 3pm</span>
            </div>
           </a>
           <a href="#" class="list-group-item">
            <span class="glyphicon glyphicon-calendar"></span>
            <div class="col-md-10">
              <span class="title">Merthyr Amazes</span>
              <span class="desc">Sat 17th July 2013, 3pm</span>
            </div>
           </a>
           <a href="#" class="list-group-item">
            <span class="glyphicon glyphicon-calendar"></span>
            <div class="col-md-10">
              <span class="title">Merthyr Amazes</span>
              <span class="desc">Sat 17th July 2013, 3pm</span>
            </div>
           </a>
         </div>
      </div>
      <a href="" class="btn btn-s btn-danger pull-right">More events</a>
      <div class="clearfix"></div>
  </div>
  <div class="col-lg-3">
    <div class="panel equalHeights">
         <div class=" palette palette-success" >Latest Vouchers</div>
         <div class="list-group latest_vouchers">
           <a href="#" class="list-group-item">
            <span class="glyphicon glyphicon-pound"></span>
            <div class="col-md-10">
              <span class="title">10% off everything</span>
              <span class="desc">at Busy Bee Fish Bar</span>
            </div>
           </a>
           <a href="#" class="list-group-item">
            <span class="glyphicon glyphicon-pound"></span>
            <div class="col-md-10">
              <span class="title">Free coffee when you buy any cake</span>
              <span class="desc">at Santos Bar / Grill</span>
            </div>
           </a>
           <a href="#" class="list-group-item">
            <span class="glyphicon glyphicon-pound"></span>
            <div class="col-md-10">
              <span class="title">Free coffee when you buy any cake</span>
              <span class="desc">at Thomas Bakery</span>
            </div>
           </a>
         </div>
      </div>
      <a href="" class="btn btn-s btn-success pull-right">More vouchers</a>
      <div class="clearfix"></div>
  </div>
  <div class="col-lg-3">
    <div class="panel equalHeights">
         <div class="palette palette-concrete" >Latest Blog Posts</div>
         <div class="list-group latest_blog_posts">
           <a href="#" class="list-group-item">
            <span class="glyphicon glyphicon-book"></span>
            <div class="col-md-10">
              <span class="title">10 Reasons you shop in Merthyr [Infographic]</span>
            </div>
           </a>
           <a href="#" class="list-group-item">
            <span class="glyphicon glyphicon-book"></span>
            <div class="col-md-10">
              <span class="title">Merthyr Tydfil Town Centre Stories [Video]</span>
            </div>
           </a>
           <a href="#" class="list-group-item">
            <span class="glyphicon glyphicon-book"></span>
            <div class="col-md-10">
              <span class="title">Upcoming street works in December</span>
            </div>
           </a>
           <a href="#" class="list-group-item">
            <span class="glyphicon glyphicon-book"></span>
            <div class="col-md-10">
              <span class="title">10 shopping tips for Xmas</span>
            </div>
           </a>
         </div>
      </div>
      <a href="" class="btn btn-s btn-link pull-right">More blog posts</a>
      <div class="clearfix"></div>
  </div>
</div>
<hr />
<div class="row">
  <div class="col-lg-9">
    <h2>Just some of the things you can find in Merthyr Tydfil Town Centre</h2>
    <div class="town_centre">
      <a class="btn btn-xs btn-primary " href="">Chips</a>
      <a class="btn btn-xs btn-primary " href="">Fish</a>
      <a class="btn btn-xs btn-primary " href="">Vehicle Hire</a>
    </div>
    <p class="find">
      Can't find what your looking for or have a query? Contact our customer support assistant <a href="#">here</a>.
    </p>
  </div>
  <div class="col-lg-3">
    <h2 class="red margin_bottom_30">Follow us and find out what's going on in Merthyr Tydfil Town Centre</h2>
    <a class="btn btn-s btn-red " href=""> <span class="glyphicon icon-pinterest"></span>Pin It<span class="badge no_bg">100</span></a>
    <div class="clearfix"></div>
    <a class="btn btn-s btn-blue " href=""><span class="glyphicon icon-linkedin"></span>Share<span class="badge no_bg">91</span></a>
    <div class="clearfix"></div>
    <a class="btn btn-s btn-danger " href=""><span class="glyphicon icon-stumble"></span>Stumble<span class="badge no_bg">45</span></a>
    <div class="clearfix"></div>
    <a class="btn btn-s btn-black " href=""><span class="glyphicon icon-google-plus"></span>Connect with Google</a>
    <div class="clearfix"></div>
    <a class="btn btn-s btn-dark_blue " href=""><span class="glyphicon icon-facebook-sign"></span>Connect with Facebook</a>
    <div class="clearfix"></div>
    <a class="btn btn-s btn-twitter " href=""><span class="glyphicon icon-twitter"></span>Connect with Twitter</a>
    <div class="clearfix"></div>
  </div>
</div>
 




</div> <!-- /container -->
