<div id="hero-banner" style="background-image: url('/assets/front/placeholder-1.jpg');">
	<div class="overlay"></div>
	<div class="banner-content">
		<div class="content-wrap">
			<div class="row content-padding">
				<div class="columns text-center">
					<div class="row content-padding">
						<div class="columns">
							<h1>Deals</h1>
							<p>You can now access the very best deals with your <a href="loyalty-card.html">We Love Merthyr loyalty card</a>.</p>
              <a href="<%= public_new_subscriber_path %>" class="button secondary wider">Apply Now</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<section class="content-padding">
	<div class="row content-padding">
		<div class="column text-center medium-text-left">
			<h2>The tops deals in Merthyr Tydfil Town Centre</h2>
		</div>
	</div>
	<div class="row content-padding">
		<div class="column">
			<div class="card-grid">
				<div class="card-sizer"></div>
        <%= render partial: 'pages/voucher', collection: @deals -%>
			</div> 
		</div>
	</div>
</section>
