<div class="row animated fadeInRight">
  <div class="col-sm-12">
    <div class="panel">
      <div class="panel-content">
        <div class="row">
          <div class="col-md-12">
            <%= simple_form_for @subscriber, html: { class: ''}, defaults: { input_html: { class: 'form-control' }} do |f| %>
              <%#= f.input :name, label: false, input_html: { class: 'form-control' } %>
              <div class="form-group">
                <label for="name" class=" control-label">Name</label></br>
                <%= f.input :name, label: false %>
              </div>
              <div class="form-group">
                <label for="email" class=" control-label">Email</label></br>
                <%= f.input :email, label: false %>
              </div>
              <br>
              <br>
              <div class="form-group">
                <%= f.button :submit, class: 'btn-primary' %>
              </div>
            <%end%>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>