/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require bootstrap_and_overrides
 * require events
 *= require_directory ./template
 *= require_directory ./fonts
 *= require_tree ./fancybox
 *= require uniform.default.min
 *= require events
 *= require tinyscrollbar
 *= require jquery.smartbanner
 *= require_self
 */
.card {
  background-color: #f94623;
  color: #fff;
  height: auto;
  margin: 0 0 35px 20px;
  padding: 8px 31px;
}
.btn.btn-default.btn-lg.btn-block {
  background-color: white !important;
  color: #f94623 !important;
  font-size: 20px;
}
.horizon_line {
  border-color: white;
}
.card_para {
  font-size: 23px;
  font-weight: 700;
}
