<nav id="offnav">
	<ul class="block-menu">
		<li><a href="/"><i class="fa fa-home"></i><span>Home</span></a></li>
    <li><a href="<%= public_visiting_path %>" class="secondary"><i class="fa fa-camera-retro"></i><span>Visiting</span></a></li>
    <li><a href="<%= blog_path %>" class="tertiary"><i class="fa fa-newspaper-o"></i><span>News</span></a></li>
		<li><a href="about.html" class="quadary"><i class="fa fa-building"></i><span>About the bid</span></a></li>
	</ul>
</nav>
<div class="social-links">
	<a href="http://www.facebook.com/welovemerthyr"><i class="fa fa-facebook"></i></a>
	<a href="http://www.twitter.com/welovermerthyr"><i class="fa fa-twitter"></i></a>
	<a href="http://www.instagram.com/welovermerthyr"><i class="fa fa-instagram"></i></a>
</div>
