<div class="container footer">
  <div class="col-lg-9 col">
    Website Funded by :
    <div class="clearfix"></div>
    <img src="/assets/img/logo3.png" alt="" />
  </div>

  <div class="col-lg-3 col">
    <h4>Contact us at The Regenaration Shop</h4>
    <p>Wheatsheaf Lane, Merthyr Tydfil CF47 </p>
    <p>
      Tel: 01685 377777 <br />
      Email: info@welovemerthyr.co.uk
    </p>
  </div>
</div>

<div class=" container copyright">
  Copyright The Big Heart of Merthyr Tydfil. 2013
</div>
