<%= content_for :bread_crumbs do -%>
  <div class="dow">
    <div class="col-lg-8 content">
        <div class="bread_crumbs">
          <a href="index.html">Home</a> > Vouchers
        </div>
        <h1 class="red">What's going on in Merthyr Tydfil Town Centre </h1>
    </div>
    <div class="col-lg-4">
    </div>
  </div>
<%- end -%>

<%= content_for :sidebar do -%>
  <div class="col-lg-4 sidebar">
    <div class="widget widget_search">
      <h2 class="red">What are you looking for?</h2>
      <p>If there's something specific that you're looking for one of our shops has probably got it.</p>
      <p>Search below:</p>
      <div class="input-group ">
        <input type="text" class="form-control" placeholder="eg. Shoes">
        <span class="input-group-btn">
          <button class="btn btn-default" type="button"><span class="icon-search"></span></button>
        </span>
      </div>
    </div>
    <div class="widget">
      <h2>Some things you can find:</h2>
      <div class="white_block widget_tag">
        <a class="btn btn-xs btn-primary " href="">Chips</a>
        <a class="btn btn-xs btn-primary " href="">Fish</a>
        <a class="btn btn-xs btn-primary " href="">Vehicle Hire</a>
        <a class="btn btn-xs btn-primary " href="">Chips</a>
        <a class="btn btn-xs btn-primary " href="">Fish</a>
        <a class="btn btn-xs btn-primary " href="">Vehicle Hire</a>
        <a class="btn btn-xs btn-primary " href="">Chips</a>
        <a class="btn btn-xs btn-primary " href="">Fish</a>
      </div>
    </div>
    <div class="widget">
      <h4 class="red margin_bottom_20">Follow us and find out what's going on in Merthyr Tydfil Town Centre</h4>
      <a class="btn btn-s btn-red " href=""> <span class="glyphicon icon-pinterest"></span>Pin It<span class="badge no_bg">100</span></a>
      <div class="clearfix"></div>
      <a class="btn btn-s btn-blue " href=""><span class="glyphicon icon-linkedin"></span>Share<span class="badge no_bg">91</span></a>
      <div class="clearfix"></div>
      <a class="btn btn-s btn-danger " href=""><span class="glyphicon icon-stumble"></span>Stumble<span class="badge no_bg">45</span></a>
      <div class="clearfix"></div>
      <a class="btn btn-s btn-black " href=""><span class="glyphicon icon-google-plus"></span>Connect with Google</a>
      <div class="clearfix"></div>
      <a class="btn btn-s btn-dark_blue " href=""><span class="glyphicon icon-facebook-sign"></span>Connect with Facebook</a>
      <div class="clearfix"></div>
      <a class="btn btn-s btn-twitter " href=""><span class="glyphicon icon-twitter"></span>Connect with Twitter</a>
      <div class="clearfix"></div>
    </div>
  </div>
<%- end -%>

<%= render template: 'layouts/application' -%>
